.about-info p {
  font-size: 1rem;
  font-weight: 300;
  margin: 3rem 0 1rem 0;
}

.about-center {
  width: 89vw;
  margin: 0 auto;
}
.about-img {
  margin: 1rem 0;
}
.about-img {
  position: relative;
}

.about-img img {
  width: 100%;
  display: block;
  box-shadow: var(--smoothShadow);
  border-radius: 100%;
}

.about-info h4 {
  font-size: 1.3rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .about-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
    align-items: center;
    margin-top: 3rem;
  }

  .about-img,
  .about-info {
    margin: 0;
  }
  .about-img img {
    max-height: 150px;
  }
  .about-info p {
    font-size: 1.3rem;
    width: 80%;
  }

  .about-info h4 {
    font-size: 1.9rem;
  }

  .about-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 992px) {
  .about-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-wrapper,
  .about-info {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .about-center {
    width: 95vw;
    max-width: 1170px;
  }
}
