.footer {
  margin-top: auto;
  background: var(--offWhite);
  padding: 1.3rem;
  padding-top: 5rem;
  text-align: center;
  color: var(--mainWhite);
  padding-bottom: 7rem;
  background-color: var(--mainWhite);
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
}

.aviso-de-privacidad {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aviso-de-privacidad span {
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--darkGrey)
}

.aviso-de-privacidad a {
  text-decoration: underline;
  color: var(--darkGrey);
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.brand {
  margin: 4rem 0 1rem 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.links a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--mainBlackText);
  margin: 0.5rem 0;
  font-size: 1.25rem;
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
  font-weight: 600;
}
.links a:hover {
  color: var(--primaryColor);
}
.icons a {
  display: inline-flex;
  margin: 0.5rem 1rem;
  font-size: 1.3rem;
  color: var(--mainBlackText);
  transition: var(--mainTransition);
}
.icons a:hover {
  color: var(--primaryColor);
}
.copyright {
  margin: 1rem 0;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 0.6rem;
  text-align: left;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlackText);
  line-height: 2;
}

.brand p {
  color: var(--mainBlackText);
  font-size: 0.8rem;
  margin: 1rem 0 0 0;
  text-align: left;
}
